html {
    min-height: 100%;
    position: relative;
}
*{
    margin: 0px;
    padding: 0px; 
}
header{
    background-color: #00b661;
    background-repeat: repeat;
    background-size: 70px;
    background-position: center;
    font-family: Impact, 'Arial Narrow Bold', sans-serif;
    padding: 0px;
    position: fixed;
    height: auto;
    width: 100%;
    box-shadow: 1px 1px 1px 1px#ffffff;   
    margin-top: -80px;
}
main {
    margin-top: 80px;
}
body{
    background-color: #000000;
    color: #ffffff;
    background-repeat: no-repeat;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0;
    margin-bottom: 40px;
    


}
footer{
    background-color: #0026ff;
    position: fixed;
    bottom: 0;
    height: auto;
    width: 100%;
    

}
footer p{
    color: white;
}
h1 {
    color: #000000;
    font-size: 45px;
    text-shadow: 3px 3px 3px#ffffff;
    text-align:center;

}
h2 {
    color: #000000;
    font-size: 26px;
    text-shadow: 3px 3px 3px#0026ff;
}
h3 {
    color: rgb(123, 7, 177);
}
p{
    color:#0026ff;
    text-decoration: none;
    font-size: 20px;
    text-shadow: 2px 1px 3px #000000;
}
header div a:hover{
    color:#00e1ff;
    text-shadow: 0px 0px 8px #ffffff;
    font-size: 15px;
}
header div a {
    color: #D7D2CE ;
    font-size: 15px;

}
summary{
    color:#D7D2CE;
    font-size: 20px;
    text-shadow: 2px 2px 2px#000000;
}

u a:link {
    color: #003cff;
    text-shadow: none;
    background-color: #ffffff;
    font-size: 5px;
}
u a:visited {
    color: #00ffdd;
  }
u a:hover {
    color: #ff0000;
  }
u a:active {
    color: #e5ff00;
}

header details div {
    color: #D7D2CE;
    font-size: 30px;
}
  
.desc {
    padding: 15px;
    text-align: center;
    color: #000000;
    text-shadow: none;
}
.gallery {
    margin: 3px;
    border: 3px solid rgb(103, 0, 163);
    width: 31%;
    height: auto;
    box-sizing: border-box;
    padding: 5px;
    float: left;
    box-shadow: 2px 2px 5px rgb(103, 0, 163);
  }
.gallery:hover {
    border: 3px solid rgb(0, 138, 143);
    box-shadow: 2px 2px 5px rgb(0, 138, 143);
}

.galerias {
    width: 100%;
    height: auto;
    box-sizing: border-box;
    padding: 10px;
    overflow: hidden;
    align-content: center;
}
.gallery img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.manin {
    margin: 3px;
    border: 3px solid rgb(103, 0, 163);
    width: 38%;
    height: auto;
    box-sizing: border-box;
    padding: 5px;
    float: left;
    box-shadow: 2px 2px 5px rgb(103, 0, 163);
}
.manin img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.centrar {
    display: grid;
    place-items: center;
}
table, td {
    border: double 1px black;
    text-align: center;
    justify-content: center;
    margin: 1%;
}
.tutoria {
    background-color: rgb(15, 0, 155);
}
.m1{
    background-color: #8356ff;
}
.m3{
    background-color: #9b008e;
}
.m9m16{
    background-color: rgb(53, 88, 153);
}
.m4{
    background-color: rgba(0, 180, 120, 0.747);
}
.m2{
    background-color: rgb(114, 45, 114);
}
.horario{
    background-color: #2b2b2b;
}
.tuk{
    background-color: #464646;
}

form {
    display: grid;
    gap: 10px;
    max-width: 400px;
    padding: 20px;
    background-color: #222222;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
label {
    display: block;
    margin-bottom: 12px;
}

input, select, textarea {
    width: 100%;
    padding: 7px;
    box-sizing: border-box;
    border: 3px solid #000000;
    border-radius: 10px;

}
.color {
    padding: 1px;
 
}

input[type="submit"], input[type="checkbox"] {
    background-color: #ffffff;
    color: #000000;
    padding: 10px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}